<h1>Show User</h1>

<ul>

  <li>
    <strong>Active:</strong>
    <%= @user.active %>
  </li>

  <li>
    <strong>Deleted:</strong>
    <%= @user.deleted %>
  </li>

  <li>
    <strong>User uuid:</strong>
    <%= @user.user_uuid %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
