<h1>New Inspirations</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.inspirations_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.inspirations_path(@conn, :index) %></span>
